<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand admin">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo admin">
                <img src="" />
            </span>
            <span class="app-brand-text admin menu-text fw-bolder ms-2">Sabuesos</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>



    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="@Url.Action("Index", "Home")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <!-- Layouts -->

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Propiedades</span>
        </li>


        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-globe"></i>
                <div data-i18n="Account Settings">Sucursal</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Sucursal")" class="menu-link">
                        <div>Mantenimiento</div>
                    </a>
                </li>


            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Sector</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Sector")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Torre</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Torre")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>
            </ul>
        </li>





        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Departamento</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Departamento")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>
            </ul>
        </li>


        @* ********************CONFIGURACIONES******************** *@
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Configuraciones</span>
        </li>


        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-globe"></i>
                <div data-i18n="Account Settings">Tipo</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Tipo")" class="menu-link">
                        <div>Mantenimiento</div>
                    </a>
                </li>
            </ul>
        </li>





        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Movimiento</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Movimiento")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>
            </ul>
        </li>





        @* ********************SERVICIO****************** *@
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Servicios</span>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Recibo</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Recibo")" class="menu-link">
                        <div>Mantenimiento</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div>Servicio</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Servicio")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>
            </ul>
        </li>



        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Visitas</span>
        </li>


        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Visitante</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Visitante")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>

            </ul>
        </li>


        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons bx bx-building"></i>
                <div>Registro de Visitas</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","VisitaRegistro")" class="menu-link">
                        <div>Mantenimietno</div>
                    </a>
                </li>

            </ul>
        </li>





        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Seguridad</span>
        </li>


        @if (Session["PI_ROL"].ToString().ToUpper() == "ADMINISTRADOR")
        {
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div data-i18n="Account Settings">Usuarios</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="@Url.Action("Index","Usuario")" class="menu-link">
                            <div>Mantenimiento</div>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div data-i18n="Account Settings">Control Usuarios</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="@Url.Action("SetRolMantenimiento","Usuario")" class="menu-link">
                            <div>Mantenimiento</div>
                        </a>
                    </li>

                </ul>
            </li>

        }

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-globe"></i>
                <div data-i18n="Account Settings">Rol</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","Rol")" class="menu-link">
                        <div>Mantenimiento</div>
                    </a>
                </li>
            </ul>
        </li>





    </ul>
</aside>