
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Entidades.Tipo> list = ViewBag.lstdocumento;
    List<Entidades.Tipo> list2 = ViewBag.lstgenero;
    List<Entidades.Tipo> list3 = ViewBag.lstnacionalidad;
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Usuario /</span>
    Mantenimiento
</h4>

<div id="view-table">
    <div class="card mb-4">
        <div class="card-body ms-auto">
            <button class="btn btn-primary" onclick="btnAction(this,'new')"><i class="bx bx-add-to-queue pe-2"></i>Nueva Usuario</button>
        </div>
    </div>

    <div class="card">
        <div class="table-responsive text-nowrap card-body">
            <table id="tblUsuario" class="table table-hover" style="width:100%">
            </table>
        </div>

    </div>
</div>

<form id="form-create" style="display:none">
    <div class="card">
        <div class="align-items-center card-header d-flex justify-content-between">
            <h5 class="fw-semibold m-0">Nuevo Usuario</h5>
            <div>
                <button class="btn btn-danger" type="button" onclick="btnAction(this,'cancel')"><i class="bx bx-arrow-back pe-2"></i>Cancelar</button>
                <button class="btn btn-primary ms-2" type="submit" ><i class="bx bx-send pe-2"></i>Crear Usuario</button>
            </div>
        </div>

        <div class="card-body row">

            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">username</label>
                <input type="text" class="form-control creat"  autocomplete="off" name="username" placeholder="Ingrese nombre de usuario">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                <input type="password" class="form-control creat" autocomplete="off" name="clave" placeholder="Ingrese su contraseña">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Repetir Contraseña</label>
                <input type="password" class="form-control" autocomplete="off" name="clave2" placeholder="Repita su contraseña">
            </div>

        </div>
    </div>
</form>

<form id="form-create-perfil" style="display:none">
    <div class="card">
        <div class="align-items-center card-header d-flex justify-content-between">
            <h5 class="fw-semibold m-0">Configurar Perfil</h5>
            <div>
                <button class="btn btn-danger" type="button" onclick="btnAction(this,'cancel-perfil')"><i class="bx bx-arrow-back pe-2"></i>Cancelar</button>
                <button class="btn btn-primary ms-2" type="submit"><i class="bx bx-send pe-2"></i>Guardar</button>
            </div>
        </div>

        <div class="card-body row">
            <input type="text" class="form-control d-none" autocomplete="off" name="id_perfil" placeholder="id">
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control creat" autocomplete="off" name="nombres" placeholder="Ingrese nombre de usuario">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Primer Apellido
                </label>
                <input type="text" class="form-control creat" autocomplete="off" name="primer_apellido" placeholder="Ingrese su apellido">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control creat" autocomplete="off" name="segundo_apellido" placeholder="Ingrese su apellido">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Fecha Nacimiento</label>
                <input type="date" class="form-control creat" autocomplete="off" name="fecha_nacimiento" placeholder="Ingrese su fecha de nacimiento">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Tipo Documento</label>
                <select class="form-select val creat" name="tipo_documento">
                    <option value="" >..Seleccione..</option>
                    @for (int i = 0; i < list.Count; i++)
                    {
                        <option value="@list[i].id_tipo">@list[i].nombre</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Nro de Documento</label>
                <input type="text" class="form-control creat" autocomplete="off" name="nro_documento" placeholder="Ingrese su nro de documento">
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Genero</label>
                <select class="form-select val creat" name="genero">
                    <option value="">..Seleccione..</option>
                    @for (int i = 0; i < list2.Count; i++)
                    {
                        <option value="@list2[i].id_tipo">@list2[i].nombre</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label">Nacionalidad</label>
                <select class="form-select val creat" name="nacionalidad">
                    <option value="">..Seleccione..</option>
                    @for (int i = 0; i < list3.Count; i++)
                    {
                        <option value="@list3[i].id_tipo">@list3[i].nombre</option>
                    }
                </select>
            </div>
            <div class="col-10">
                <label for="exampleFormControlInput1" class="form-label">Direccion</label>
                <input type="text" class="form-control creat" autocomplete="off" name="direccion" placeholder="Ingrese su direccion">
            </div>
        </div>
    </div>
</form>

<form id="form-usuario-estado" style="display:none">
    <div class="align-items-center card-header d-flex justify-content-between">

        <div class="row">
            <div class="text-center col-md-12">
                <h1><strong>Deseas cambiar el estado de este Usuario?</strong></h1>
            </div>
            <br />
            <div class="text-center col-md-12">
                <button class="btn btn-danger" type="button" onclick="btnAction(this,'cancel-estado')">Cancelar</button>
                <button class="btn btn-warning ms-2" type="submit">Si, Deseo</button>
            </div>
        </div>
    </div>
    <input type="text" class="form-control d-none" autocomplete="off" name="id_usuario" placeholder="id">
    <input type="text" class="form-control d-none" autocomplete="off" name="id_estado" placeholder="id">
</form>



<script>
    const urlPassUser = "@Url.Action("CambiarContraseña", "Usuario")";
    const urlGetUsuario = "@Url.Action("ListarUsuarios", "Usuario")";
    const urlCreateUser = "@Url.Action("CrearUsuario", "Usuario")";
    const urlSavePerfil = "@Url.Action("RegistrarPerfil", "Usuario")";
    const urlGetPerfil = "@Url.Action("ListarPerfil", "Usuario")";
    const urlSaveEstado = "@Url.Action("CambiarEstado", "Usuario")";
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="~/Scripts/App.js"></script>
<script src="~/Scripts/Usuario/Mantenimiento.js"></script>


