@model Web_Integrador.Model.ReciboModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Recibo /</span>
    Mantenimiento
</h4>

<div id="view-table">
    <div class="card mb-4">
        
        <div class="card-body row">
            <div class="col-3 col-md-3 col-lg-4">
                <label for="monto" class="form-label">DNI</label>
                <input type="text" class="form-control val" autocomplete="off" name="dni" id="dni" placeholder="Ingrese Dni">
            </div>
            <div class="col-3 col-md-3 col-lg-4">
                <label for="monto" class="form-label">Nombre</label>
                <input type="text" class="form-control val" autocomplete="off" name="nombre" id="nombre" placeholder="Ingrese Nombre">
            </div>
            <div class="col-3 col-md-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Servicio</label>
                <select class="form-control val" name="id_servicio" id="servicio">
                    <option value="" selected>...Seleccione...</option>
                    <option value="agua">Agua</option>
                    <option value="seguridad">Seguridad</option>
                    <option value="mantenimiento">Mantenimiento</option>
                </select>
            </div>
        </div>
        <div class="card-body row">
            <div class="col-3 col-md-3 col-lg-3">
                <label for="exampleFormControlInput1" class="form-label">Estado</label>
                <select class="form-control val" name="id_estado" id="estado">
                    <option value="3" selected>...Todos...</option>
                    <option value="1">Pagado</option>
                    <option value="0">No Pagado</option>
                </select>
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <button class="btn btn-primary" type="submit"><i class="iconify" data-icon="bx:search-alt-2" data-width="27" data-height="27" data-rotate="90deg"></i>  Filtrar</button>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-body ms-auto">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalProp"> <i class="bx bx-user-plus"></i>Generar Boleta</button>
        </div>
        <div class="table-responsive text-nowrap card-body">
            <table id="example" class="table table-hover" style="width:100%">
            </table>
        </div>

    </div>
    </div>
<div class="modal fade" id="modalProp" tabindex="-1" aria-labelledby="modalPropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="view-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Generar Boleta</h5>
                </div>

                <div class="modal-body row">
                    <div class="col-3 col-md-3 col-lg-6">
                        <label for="exampleFormControlInput1" class="form-label">Servicio</label>
                        <select class="form-control val" name="servicio" id="id_servicio">
                            <option value="" selected>...Todos...</option>
                            <option value="agua">Agua</option>
                            <option value="seguridad">Seguridad</option>
                            <option value="mantenimiento">Mantenimiento</option>
                        </select>
                    </div>
                    <div class="col-3 col-md-3 col-lg-6">
                        <label for="exampleFormControlInput1" class="form-label">Propietario</label>
                        <select class="form-control val" name="id_cliente" id="id_propietario">
                            <option value="0" selected>...Seleccione...</option>
                            @foreach (var item in Model.Propietarios)
                            {
                                <option value="@item.id_propietario">@item.nombres @item.primer_apellido @item.segundo_apellido</option>
                            }

                        </select>
                    </div>
                    <div class="modal-body row">
                        <div class="col-3 col-md-3 col-lg-5">
                            <label for="exampleFormControlInput1" class="form-label">Año</label>
                            <select class="form-control val" name="anio" id="id_anio">
                                <option value="0" selected>...Seleccione...</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>

                            </select>
                        </div>
                        <div class="col-3 col-md-3 col-lg-5">
                            <label for="monto" class="form-label">Monto</label>
                            <input type="text" class="form-control val" autocomplete="off" name="monto" placeholder="Ingrese Monto">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModal" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary"> Generar </button>
                </div>
            </form>
     
        </div>
    </div>
</div>



            <script>
    const urlSaveRecibo = "@Url.Action("RegistrarRecibo", "Recibo")";
    const urlGetRecibo = "@Url.Action("ListarFiltro", "Recibo")";
    const urlGetSector = "@Url.Action("ListarSector", "Torre")";
    const urlGetTorre = "@Url.Action("ListarTorre", "Departamento")";
    const urlGetDepartamento = "@Url.Action("ListarDepartamentos", "Departamento")";
    const urlGetServicio = "@Url.Action("ListarServicios", "Servicio")";
    @*const urlGetServicio = "@Url.Action("ListarServicio", "Recibo")";*@

            </script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
            <script src="~/Scripts/App.js"></script>
            <script src="~/Scripts/Recibo/Mantenimiento.js"></script>
            <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
